{% extends "base.html" %}

{% block content %}

<div class="about-icons"> 
    <a href="https://www.linkedin.com/in/rudolfs-grobins/" alt="LinkedIn">
        <img src="/linkedin.svg" alt="LinkedIn" width="128" height="128" />
    </a>
    <a href="https://github.com/rudolfsg" alt="Github">
        <img src="/square-github.svg" alt="Github" width="128" height="128" />
    </a>
    <a href="mailto:grobinsrudolfs@gmail.com" alt="Email">
        <img src="/square-envelope-solid.svg" alt="Email" width="128" height="128" />
    </a>
    <a href="/rss.xml" alt="RSS">
        <img src="/square-rss-solid.svg" alt="RSS" width="128" height="128" />
    </a>

</div>

{% endblock %}