<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">

    {% block head %}{% endblock %}

    <title>{{ title }}</title>
</head>

<body>

    <header>
        <svg class="logo" xmlns="http://www.w3.org/2000/svg">
            <a href="/"> 
                <circle cx="70" cy="70" r="70" fill="red" />
                </a>
        </svg>

        <h1 class = "heading"> <a href="/index.html"> heading </a> </h1>
    </header>

    <div class="content">{% block content %}{% endblock %}</div>


    <footer>
        <h1 class="about"> <a href="/about.html"> about </a> </h1>
    </footer>

</body>

</html>