<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
            integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>

<body>

    <header>
        <svg class="logo" xmlns="http://www.w3.org/2000/svg">
            <a href="/"> 
                <circle cx="70" cy="70" r="70" fill="red" />
                </a>
        </svg>

        <h1 class = "heading"> heading </h1>
    </header>

    <div class="content">{% block content %}{% endblock %}</div>


    <footer>
        <h1> about </h1>
    </footer>

</body>

</html>