{% extends "base.html" %}

{% block head %}
{% if has_katex %}

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
    integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous"> -->
<link href="/katex.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block content %}
<div class="post-meta">
    <p class="title">{{ title }}</p>
    <div class="post-tag-and-date">
        <p class="tags">
            {% for tag in tags %}
            <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
            {% if not loop.last %}
            |
            {% endif %}
            {% endfor %}
        </p>
        <p class="date"> {{ date }} </p>
    </div>
</div>
<div> {{ content | safe }}</div>
{% endblock %}